.background {
     width: 100%;
    height: 100%;
    background-image: url('old_map_@2X.jpg');
    background-size: cover;
    
}

.style {
    padding: 0;
    margin-bottom: 10px;
}

.textbar{
    width: 60%;
}